.css-1nmdiq5-menu {
    z-index: 9999 !important;
}
.bg-get-method {
    background-color: #6bdd9a;
}
.bg-put-method {
    background-color: #74aef6;
}
.bg-post-method {
    background-color: #ffe47e;
}
.bg-delete-method {
    background-color: #f79a8e;
}

.text-get-method {
    color: #6bdd9a;
}
.text-put-method {
    color: #74aef6;
}
.text-post-method {
    color: #ffe47e;
}
.text-delete-method {
    color: #f79a8e;
}
