.approved-status {
    background-color: #C2FFD9 !important;
    color: #007A2F !important;
}
.inDraft-status {
    background-color: #C2F3FF !important;
    color: #00627A !important;
}
.rejected-status {
    background-color: #FFC7C2 !important;
    color: #7A0A00 !important;
}
.notStarted-status {
    background-color: #E0E0E0 !important;
    color: #3D3D3D !important;
}
.submitted-status {
    background-color: #FFE8C2 !important;
    color: #7A4C00 !important;
}
